<%= form_with(model: project, local: false) do |form| %>
  <span id="helpBlock" class="help-block" style="color:red"></span>

  <div class'form-group'>
    <label>Title</label>
    <div>
      <%= form.text_field :title, required: true, class: 'form-control'%>
    </div>
  </div>  
  <div class'form-group'>
    <label>Description</label>
    <div>
      <%= form.text_area :description, required: true, class: 'form-control'%>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
