<div class="wrapper wrapper-content animated fadeInUp">
    <div class="col-md-10 col-md-offset-1">
        <div class="ibox">
            <div class="ibox-title">
            </div>
            <div class="ibox-content">
                <div class="project-list">
                    <%= render '/projects/list', projects: @projects%>
                </div>
            </div>
        </div>
    </div>
</div>